/*Font settings*/
@import url('https://fonts.googleapis.com/css?family=Poppins|Poiret One');

.info-window ul {
	list-style-position: inside;
	font-family: Poiret One, sans-serif;
	font-size: 1.3em;
	text-align: left;
	padding-left: 5%;
	padding-bottom: 10px;
}

.content {
	position: relative;
	top:725px;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.info-list li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1.5em;
    padding-left: 0.5em;
}

.info-window {
	height: 400px;
	display: flex;
  	flex-direction: column;
}
.adr-window {
	height: 200px;
	display: flex;
  	justify-content: center;
  	flex-direction: column;
}
.about-window {
	display: flex;
  	flex-direction: column;
  	text-align: justify;
}
.map-window {
	height: 700px;
	background-color: #fff;
	position: relative;
	top:100px;
	margin: 0;
}
#map {
    height: 600px;
}
.promo-window {
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	padding-bottom: 5px;
}
.info-window-white {
	background-color: white;
}
.info-window-grey {
	background-color: rgb(240,240,240);
}
.header-window{
	background-color: #005D08;
}
.info-button {
	border: 2px solid rgb(0, 117, 190);
	border-radius: 5px;
	font-family: Poiret One, sans-serif;
	font-size: 1.3em;
	padding: 5px 20px;
}
.info-button a {
	text-decoration: none;
}
.info-button a:hover {
	text-decoration: none;
}
.pic-window-rpg {
	height: 400px;
	background-image: url("../images/physi1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.pic-window-phy {
	height: 400px;
	background-image: url("../images/physi2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.pic-window-dn {
	height: 400px;
	background-image: url("../images/Dry-Needling-8.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.pic-window-off {
	height: 250px;
	background-image: url("../images/Office.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
/********************/


@media only screen and (max-width: 800px){
	.col-md-8 {display:none;}
	.col-md-3 {display:none;}
	.container {width: 100%;}
}

#contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }

input {
    position: relative;
    z-index: 999;
}

.email-box {
	height: 300px;
}